<div class="container">
    <nav class="fixed-top navbar-expand-lg navbar-light rounded bg-dark d-flex justify-content-between">
        <div class="logos">
            <a class="navbar-brand" routerLink="home">
                <img src="assets/logo1.png" width="45" height="45" class="rounded-circle" alt="sh3ar elmgls">
            </a>
            <a class="navbar-brand" routerLink="home">
                <img src="assets/logo2.PNG" width="45" height="45" class="rounded-circle" alt="sh3ar elmgls">
            </a>
        </div>

        <div class="header">
            <p class="mt-3"> المجلس الطبي العسكرى العام</p>
        </div>
    
        <div class="navItms">
            <ul class="navbar-nav mr-auto mt-1">
                <li class="nav-item ">
                    <a *ngIf="isLogin" class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="isLogin" class="nav-link" routerLink="details">Details</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="!isLogin" class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="isLogin" class="nav-link" routerLink="login">Logout</a>
                </li>
            </ul>
        </div>
        
    </nav>
</div>
